body {
    background: #000;
    b1ackground-image: url('/img/background/foto1.jpg');
    background-size: cover;
    background-position: center;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    color: #222;
}

.div-title {
    border-top: 8px solid #d91516;
    background: #efeeee;
    color: #222;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    bottom: 120px;
    position: absolute;
    left: calc((100% - 1400px)/2);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 36px;
}

.div-title h1 {
    margin: 0;
    padding: 0;
}

.h1-distance {
    font-weight: 400;
    color: #d91516;
    margin-bottom: 10px !important;
    font-size: 37px;
    padding-top: 40px !important;
}

.div-title-intro {
    background: #efeeee;
    padding: 40px;
    font-size: 40px;
    text-align: left;
    color: #222;
    width: 800px;
    float: left;
    box-sizing: border-box;
    height: 320px;
    line-height: 52px;
    padding-bottom: 20px;
}

.div-intro-footer {
    font-size: 30px; 
    font-family: Roboto, sans-serif; 
    margin-top: 100px; 
    padding: 5px; 
    float: none; 
    background: #efeeee; 
    text-align: center;
    padding-right: 40px;
    padding-bottom: 30px;
    color: #666;
}

.div-courses {
    background: #efeeee;
    padding: 40px;
    padding-left: 0px;
    font-size: 30px;
    text-align: left;
    color: #222;
    width: 600px;
    float: left;
    box-sizing: border-box;
    height: 320px;
    padding-bottom: 20px;
}

.table-intro {
    width: 710px;
    font-size: 40px;
}

.table-intro tr td:first-child {
    width: 370px;
}

.table-intro tr td:last-child {
    width: 340px;
}

.table-intro td, .table-courses td {
    border-bottom: 1px solid #dddddd;
    font-size: 40px;
    vertical-align: top;
    color: #222;
}

.table-courses {
    border-collapse: collapse;
    background: #efeeee !important;
    width: 560px;
}

td {
    font-size: 50px;
    width: 150px;
    padding: 5px;
}

.td-center {
    text-align: right;
}

#div-text {
    margin-left: 120px;
    margin-top: 120px;
    padding: 30px;
    background: #efeeee;
    border-top: 8px solid #d91516;
    color: #222;
    display: inline-block;
}

#div-text h1, #div-text h2 {
    padding: 0px;
    margin: 0px;
}

#div-weather {
    background: #efeeee;
    border-top: 8px solid #d91516;
    color: #222;
    font-size: 40px;
    position: absolute;
    width: 500px;
    right: 120px;
    top: 120px;
    padding: 30px;
    font-weight: bold;
}

#div-weather table {
    width: 500px;
}

#div-weather h1 {
    font-size: 40px;
}

#div-weather td {
    font-size: 36px;
    border-bottom: 1px solid #dddddd;
}

#div-weather tr:last-child td {
    border-bottom: 0px solid white !important;
}

#div-runner {
    position: absolute;
    right: 120px;
    bottom: 120px;
    width: 1420px;
    padding: 10px;
    background: #efeeee;
    border-top: 8px solid #d91516;
    color: #222;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

#div-runner-name, #div-runner-club, #div-runner-time {
    display: inline-block;
}

#div-runner-name {
    width: 700px;
}

#div-runner-club {
    width: 470px;
}

#div-runner-time {
    width: 225px;
    text-align: right;
}

#div-runner-next {
    background: #222;
    width: 218px;
    color: white;
    font-size: 30px;
    padding-left: 15px;
    position: absolute;
    top: -45px;
    left: 0px;
}

marquee {
    font-family: Roboto, sans-serif;
    font-size: 40px;
    background: #efeeee;
    border-top: 8px solid #d91516;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #111;
    position: absolute;
    bottom: 120px;
    margin-left: 0px;
    text-transform: uppercase;
    width: 1920px;
    color: #222;
    left: 0px;
}