body {
    background: #00ff00;
    background-image: url('/img/background/foto1.jpg');
    background-size: cover;
    background-position: center;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

.div-title {
    background: #d91516;
    color: white;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    bottom: 120px;
    position: absolute;
    left: calc((100% - 1400px)/2);
}

.div-title h1 {
    margin: 0;
    padding: 0;
    font-size: 40px;
}

.h1-distance {
    font-weight: 400;
    color: #ffff00;
    margin-bottom: 10px !important;
    font-size: 37px;
}

.div-title-intro {
    background: #efeeee;
    padding: 40px;
    font-size: 40px;
    text-align: left;
    color: black;
    width: 500px;
    float: left;
    box-sizing: border-box;
    height: 235px;
    line-height: 52px;
}

.div-courses {
    background: #efeeee;
    padding: 40px;
    font-size: 30px;
    text-align: left;
    color: black;
    width: 500px;
    float: left;
    box-sizing: border-box;
    height: 235px;
}

.table-courses {
    border-collapse: collapse;
    background: #efeeee !important;
    border: 3px solid #efeeee;
}

td {
    font-size: 24px;
    width: 150px;
    padding: 5px;
}

.td-center {
    text-align: right;
}

#div-text {
    margin-left: 120px;
    margin-top: 120px;
    padding: 30px;
    background: #efeeee;
    border-top: 5px solid #d91516;
    color: black;
    display: inline-block;
}

#div-text h1, #div-text h2 {
    padding: 0px;
    margin: 0px;
}

#div-weather {
    background: #efeeee;
    border-top: 5px solid #d91516;
    color: black;
    font-size: 30px;
    position: absolute;
    width: 400px;
    right: 120px;
    top: 120px;
    padding: 30px;
    font-weight: bold;
}

#div-weather h1 {
    font-size: 36px;
}

#div-weather td {
    font-size: 30px;
}

#div-runner {
    position: absolute;
    right: 120px;
    bottom: 120px;
    width: 920px;
    padding: 10px;
    background: #efeeee;
    border-top: 5px solid #d91516;
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

#div-runner-name, #div-runner-club, #div-runner-time {
    display: inline-block;
}

#div-runner-name {
    width: 500px;
}

#div-runner-club {
    width: 270px;
}

#div-runner-time {
    width: 100px;
    text-align: right;
}

#div-runner-next {
    background: black;
    width: 143px;
    color: white;
    font-size: 20px;
    padding-left: 10px;
    position: absolute;
    top: -29px;
    left: 0px;
}